* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  letter-spacing: .125rem;
}

:root {
  --gd: 180deg;

  .bug { background: linear-gradient(var(--gd), #4b5e2e, #758d52);}
  .dark { background: linear-gradient(var(--gd), #1e170e, #372c1e);}
  .dragon { background: linear-gradient(var(--gd), #5027ae, #613eb1);}
  .electric { background: linear-gradient(var(--gd), #ba9006, #f7da01);}
  .fairy { background: linear-gradient(var(--gd), #ab43a2, #bd60b5);}
  .fighting { background: linear-gradient(var(--gd), #4e3008, #82551a);}
  .fire { background: linear-gradient(var(--gd), #a51e0f, #af4f0f);}
  .flying { background: linear-gradient(var(--gd), #335d8c, #5e95d4);}
  .ghost { background: linear-gradient(var(--gd), #1f2455, #384087);}
  .grass { background: linear-gradient(var(--gd), #0a660a, #1a981a);}
  .ground { background: linear-gradient(var(--gd), #937119, #c79e36);}
  .ice { background: linear-gradient(var(--gd), #188084, #36c1c6);}
  .normal { background: linear-gradient(var(--gd), #5b5b5b, #8a8a8a);}
  .poison { background: linear-gradient(var(--gd), #551591, #8f3fda);}
  .psychic { background: linear-gradient(var(--gd), #720b40, #b01063);}
  .rock { background: linear-gradient(var(--gd), #674c23, #9f7a42);}
  .steel { background: linear-gradient(var(--gd), #cdcdcd, #949494);}
  .water { background: linear-gradient(var(--gd), #2447cf, #4182c2);}
}

ul {
  list-style: none;
}

body {
  background-color: #1d365e;
  color: #edf859;
}

header {
  padding: 1rem;
  display: grid;
  place-items: center;
}

header h1 {
  font-size: 4rem;
}

main > ul {
  margin: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, 192px);
  justify-content: center;
  gap: 2rem 4rem;
}

.pokemonCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 220px;
  height: 300px;
  margin: auto;
  
  color: whitesmoke;
  border: .75rem solid #edf859;
  border-radius: 1rem;
  filter: drop-shadow(.5rem .5rem .5rem rgba(33, 33, 33, .75));
  cursor: default;
}

.pokemonCard:hover {
  z-index: 2;
  filter: drop-shadow(1rem 1rem 1rem rgba(33, 33, 33, 1));
  transform: scale(1.1);
  transition: .25s ease-in-out;
}

.top {
  display: flex;
  justify-content: space-between;

  margin: 1rem;
}

.top .name {
  text-transform: capitalize;
}

.top .number {
  padding: .25rem .5rem;

  font-size: 1rem;
  font-weight: 900;

  background-color: whitesmoke;
  color: dimgray;
  border-radius: .25rem;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 176px;
  aspect-ratio: 1;
  margin: auto;

  padding: .75rem;
  background-color: whitesmoke;
  border-radius: 1rem;
  filter: drop-shadow(.25rem .25rem .25rem rgba(33, 33, 33, .75));
}

.image img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.types {
  display: flex;
  justify-content: flex-start;
  margin: 1rem;
  gap: .5rem;
}

.types .type {
  padding: .25rem .5rem;

  font-size: .8125rem;
  border: .125rem solid whitesmoke;
  border-radius: .75rem;
}

.back {
  margin: .5rem 1rem;
  padding: .125rem;

  background-color: whitesmoke;
  color: #161616;
  border-radius: 50%;
  opacity: .5;
  cursor: pointer;
  transition: opacity .15s;
}

.back:hover {
    opacity: .75;
}

footer {
  padding: 1rem;
  display: grid;
  place-items: center;
}
