* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

:root {
  .PC {background-color: #292929;}
  .PC-VR- {background-color: #292929;}

  .PS3 {background-color: #3f3f98;}
  .PS4 {background-color: #28446f;}
  .PS5 {background-color: #1c344f;}

  .Xbox-360 {background-color: #426442;}
  .Xbox-One {background-color: #3f613f;}
  .Xbox-Series {background-color: #2a442a;}
  
  .Wii {background-color: #5f8597;}
  .Wii-U {background-color: #2a4856;}
  .Switch {background-color: #67282e;}
}

h1, h2, h3, h4 {
  text-transform: uppercase;
}

body {
  background-color: #696969;
  color: #f5f5f5;
  padding: 1rem;
  text-align: center;
}

#vg-container {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, 216px);
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

#vg-container li {
  display: flex;
  flex-direction: column;
  width: 216px;

  background-color: #434343;
  border: 2px solid #808080;
  border-radius: .5rem;
  overflow: hidden;
}

#vg-container .cover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: calc(100% - 1rem);
  aspect-ratio: 1;
  margin: .5rem;

  background-color: #212121;
  border: 2px solid #808080;
  border-radius: .5rem;
  overflow: hidden;
}

#vg-container .fg {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
  object-fit:contain;
  padding: .5rem;

  filter: drop-shadow(0 .5rem .5rem #212121);
}

#vg-container .bg {
  position:absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  filter: blur(.5rem);
  transform: scale(1.1);
  opacity: .4;
}

#vg-container .info {
  display: flex;
  flex-direction: column;
  padding: .5rem;
  gap: .5rem;
}

#vg-container .info h2 {
  margin-bottom: 1.5rem;
}

#vg-container .platforms {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: .25rem;
  color: #ececec;
}

#vg-container .platform {
  border-radius: .5rem;
  padding: .125rem .5rem;
}

#vg-container .platform:hover {
  cursor: pointer;
  filter: brightness(1.25);
}

#vg-container .genres {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: .5rem 0 1rem;
  gap: .5rem;

  font-size: .8125rem;
  color: #b1b1b1;
}

#vg-container .genre + .genre {
  border-left: 1px solid #b1b1b1;
  padding-left: .5rem;
}

footer {
  padding: 1rem;
}
